:host{
  mat-card-content{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 500;
    background-color: rgba(34, 34, 34);
    color: #FFD700;

    i{
      font-size: 1.3em;
    }

    .bicar{
      margin-left: 5px;
    }

  }
}
